[submodule "dependencies/hamer_helper"]
	path = dependencies/hamer_helper
	url = https://github.com/brentyi/hamer_helper.git
[submodule "dependencies/raftstereo"]
	path = dependencies/raftstereo
	url = https://github.com/kerrj/RAFT-Stereo.git
[submodule "dependencies/dig"]
	path = dependencies/dig
	url = https://github.com/uynitsuj/dig
[submodule "dependencies/jaxmp"]
	path = dependencies/jaxmp
	url = https://github.com/chungmin99/jaxmp.git
	branch = d7124b3
[submodule "jaxls"]
	path = jaxls
	url = https://github.com/chungmin99/jaxls.git
[submodule "dependencies/jaxls"]
	path = dependencies/jaxls
	url = https://github.com/chungmin99/jaxls.git
[submodule "dependencies/garfield"]
	path = dependencies/garfield
	url = https://github.com/chungmin99/garfield
[submodule "dependencies/hamer"]
	path = dependencies/hamer
	url = https://github.com/geopavlakos/hamer.git

